
  <div class="row">
    <div class="col-lg-9 mx-auto">
      <h2 class="text-center"><%- page.title %></h2>
      <p class="mb-0 pb-0 text-center"><em>Ilmu untuk berpetualang, dan berpetualang untuk ilmu.</em></p>
      <p class="mb-5 mt-0 pt-0 text-center"><em>— @adisaktijrs</em></p>

      <%- page.content%>
    </div>

  </div>
