img {
    max-width: 100%;
    border-radius: 6px;
}

body {
    font-family: "Inter", sans-serif;
    /* font-family: 'Noto Serif', serif; */
    /* font-family: 'Noto Sans', sans-serif; */
    font-size: 1rem;
    color: #43434b;
    background-color: #fdfdff;
}

p {
    margin-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: 'Karla', sans-serif; */
    font-weight: 700;
    color: #333333;
    margin-top: 1.8rem;
    margin-bottom: 1rem;
}

.judul {
    font-size: 2.1rem;
}

.little-svg {
    fill: #fff;
}

.main {
    color: #0498c5;
}

.main2 {
    font-size: 1.4rem;
}

.judul-bawah {
    display: none;
}

.mode {
    /* position: absolute; */
    display: block;
    cursor: pointer;
}

/* blockquote */
blockquote {
    background-color: rgba(148, 148, 149, 0.08);
    border-left: 8px solid #0498c5;
    margin: 1.5em 0px;
    padding: 1.3em 20px 1px 20px;
    font-style: italic;
}

blockquote footer {
    padding-bottom: 10px;
    margin-top: -20px;
}

blockquote footer cite:before {
    content: "—";
    padding: 0 0.5em;
}

.hidden {
    display: none;
}

/* New */

.navbar-light .navbar-toggler {
    border-color: none;
    border-width: 0;
    color: inherit;
}

.navbar-light .navbar-nav .nav-link {
    color: inherit;
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    background-position: 0 10%;
    color: inherit;
}

hr {
    border-top: 1px solid rgba(148, 148, 149, 0.8);
}

/* link */
a {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: #0498c5;
    background-size: 100% 200%;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 50%,
        #0498c5 50%
    );
    transition: background-position 0.2s ease-in-out, color 0.2s ease-in-out;
}

a:hover,
a:focus {
    background-position: 0 100%;
    text-decoration: none;
    color: #fff;
}

.tengah {
    text-align: center;
}

@media (min-width: 768px) {
    .kiri {
        padding-left: 15px;
    }

    .jarak {
        margin-left: 8%;
        margin-right: 8%;
    }

    .tengah {
        text-align: left;
    }

    body {
        font-size: 1.1rem;
    }

    .judul {
      font-size: 2.3rem;
    }
}

@media (min-width: 991px) {
    .top {
        padding-top: 3rem;
    }

    .judul-bawah {
        display: inline;
        font-size: 1.4rem;
    }

    .judul {
        font-size: 3.2rem;
    }
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: #0498c5;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color: #efefef;
    display: block; /* Display block instead of inline */
    transition: 0.2s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
    color: #43434b;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .closebtn {
        font-size: 30px;
        top: 15px;
        right: 35px;
    }
}
